﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="row" name="hedgerOptionsForm" novalidate ng-controller="assesmentController" cg-busy="loadingPromise">
    <div class="panel-body">
        <br />
        <h2>@ViewBag.Title</h2>
        <div ng-init="getDataList()">
            <div>
                @*<a href="@Url.Action("Create", "HedgerOptions")"><span class="glyphicon glyphicon-plus"></span>Yeni bir Hedger Ayarı Ekle</a>*@
            </div>
            <div id="dataGrid" style="height: 600px;"></div><br />
        </div>
    </div>
</form>


