﻿body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
	 will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

.login {
	background-color: #c5cbc7 !important;
}
ul.page-breadcrumb {
	padding-left: 0;
	float: right;
	margin: 10px 0 10px 0;
}

ul.page-breadcrumb li {
	list-style: none;
	float: left;
}

ul.page-breadcrumb li a {
	color: #fff;
}

ul.page-breadcrumb li a:hover {
	color: inherit;
	text-decoration: none;
}
#Researches .portlet > .portlet-title {
			margin-bottom:0px;
			padding: 0 10px;
		}
		#Researches .table-bordered {
			border: none;
		}
		#Researches .table-bordered td:first-child {
			width: 20%;
		}
		#Researches input[type="radio"] {
	margin-left: -8px;
}

.widthAuto { width: auto !important}
.padLeft-0 { padding-left:0 !important}
